*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# compiled jni files
*/src/main/libs/

# assets stdlib files
*/src/main/assets/python/stdlib.zip
*/src/main/assets/python/modules/*
*/src/main/assets/python/site-packages/*
